// Local variables for C & S Games - all variables prefaced by csg-
// Key:  c - color; f - font;  m - margin

$csg-cAction: darkgreen;
$csg-cCardBack: $csg-cAction;
$csg-fSizeLogoH1: 3.2rem;
$csg-fSizeLogoH2: 2.4rem;
$csg-fSizeNav: 1.6rem;
$csg-mContainer: 12rem;
$csg-mNegContainer: -$csg-mContainer;
